<%- include header %>
<div class="form-horizontal col-lg-6 col-lg-offset-4">
    <h1><%= user.name %>, 欢迎登录</h1>
    <a class="btn btn-warning" href="/www.xuetangx.com/index.htm">去学习</a>
    <a class="btn btn-warning" href="/logout">注销</a>
</div>
<%- include footer %>